/* import css*/
@import "base/reset.css";
@import "base/common.css";
@import "ui/ui_icon.css";

body{
    background-color: #eef3f6;
    font-family: "microsoft yahei";
}

.wrap{
    width: 1190px;
    margin: 0 auto;
}


/* user-panel
********************************************************************************/
.user-panel{
    height: 180px;
    padding: 40px 0;
    margin-bottom: 15px;
    background: url("../../../img/user_panel_bg.jpg") no-repeat;
    overflow: hidden;
}
.user-panel .user-avatar{
    float: left;
    width: 200px;
}
.user-panel .user-avatar .avatar{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px #eee;
    overflow: hidden;
}
.user-panel .user-avatar .avatar img{
    width: 100%;
}

.user-panel .user-info{
    float: left;
}
.user-panel .user-info .com-name{
    font-size: 14px;
    line-height: 26px;
}
.user-panel .user-info .com-name h3{
    display: inline-block;
    font-size: 18px;
}
.user-panel .user-ope{
    float: right;
    width: 200px;
}
.user-panel .user-ope .btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    background-color: #3f9ee6;
    border-radius: 4px;
    color: #fff;
}





/* side-l
********************************************************************************/
.side-l{
    float: left;
    width: 200px;
    padding: 0 20px;
    background-color: #fff;
}
.side-l .side-item{
    padding: 23px 0 13px 24px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    font-size: 14px;
}
.side-l .side-item-hd{
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    overflow: hidden;
}
.side-l .side-item-hd .icon{
    margin-top: 9px;
}
.side-l .side-item-hd .side-item-icon{
    position: absolute;
    left: 0px;
}
.side-l .side-item-hd .icon-setting{
    float: right;
    cursor: pointer;
}
.side-l .side-item-hd h4{
    display: inline-block;
    font-weight: bold;
}


.side-l .side-item-lst a{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #333;
}
.side-l .side-item-lst a:hover{
    color: red;
}
.side-l .side-item:last-child{
    border-bottom: none;

}


/* main
********************************************************************************/
.main{
    float: left;
    width: 720px;
    margin: 0 15px;
    background-color: #fff;
}


/* side-r
********************************************************************************/
.side-r{
    float: right;
    width: 240px;
    background-color: #fff;
}

