// Import Bootstrap Compass integration
@import "../bootstrap-compass";
// Import custom Bootstrap variables
@import "../bootstrap-variables";
// Import Bootstrap for Sass
@import "../bootstrap";




.content{
  width: 1200px;
  margin: 0 auto;
}

.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-centerbox{
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.cnt{
  padding: 20px;
  margin: 10px;
  background-color: #f2f2f2;
  text-align: center;
}


.wrap{
  height: 300px;
}
.flex-ver{
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .flex-item{
    height: auto;
    background-color: #eeeeee;
    overflow-y: scroll;
  }
}
